# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- List some of the popular languages in Data Science.
- List some of the most commonly used libraries in Data Science.
- Convert 200 minutes to hours.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. ggplot
3. NumPy

| Data Science Tools |
|--------------------|
| R Studio |
| Git |
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python

x = 35

y = 25 

z = x - y

print(z)

z = 10

or

a = 2

b = 5

c = a*b

print(c)

c = 10

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = 60
minutes / hours

3.3333333333333335

## Author
Sam DeLeon